*{
    padding: 0;
    margin: 0;
    border: 0;
}

head{
    position: fixed;
}

body{
    background-image: url("./image/background.jpg");
    background-color: #7A8DF4;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .primeiraTela{
    background-image: url("./image/background.jpg");

    position: absolute;
}
    */

.container{
    float: none;
    height: -webkit-fill-available;
}

.logo img {
    width: 200px;
}

a.menu{
    color: white;
    font-size: 18px;
}

a.menu:hover{
    font-size: 22px;
}

h1, h5 ,p{
    color: white;
}

.mb-3{
    font-weight: bold; 
    color: #000;
}

p{
    size: 10px;
}

div.logo{
    margin-bottom: 40px;
}

.agc{
    font-size: 20px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 40px;
}

.dadosAgencia{
    display: flex;
    
}

