{% extends 'base.html.twig' %}

{% block title %}Banco WG{% endblock %}

{% block body %}
<div class="primeiraTela">
    <div class="row justify-content-end ms-5">
        <div class="col-md-6">
            <h1>
               O Banco Digital feito para você! 
            </h1>
    
            <p>Use o Pix para fazer pagamentos e transferências instantâneas a qualquer hora. Sem burocracia e sem custo, do jeito WG. Invista também em criptomoedas e fundos mobiliários pela nossa plataforma. </p>
            <button class="btn btn-success">Criar Conta</button>
        </div>
    </div>
</div>
   
{% endblock %}
